.item {
    font-family: "Roboto Black";
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color:cornflowerblue;
}

.item>a {
    color: black;
    text-decoration: none;
}

.item>a:hover {
    color:gold;
    border-bottom: 2px solid gold;
}
a.active{
    text-shadow: none;
    color: gold;
}