.imDesContainer {
    width: 100%;
    border: 5px solid #000;
    margin: 0 auto;
}

.imgDesktop {
    width: 50%;

}

.nameStatus {
    width: 40%;
}

.fullname {
    font-family: Roboto;
    font-size: 30px;
    color: red;
}

.status {
    font-size: 20px;
    width: 400px;
    height: 200px;
    resize: none;
}

.status:hover {
    cursor: pointer;
}

.avaDesBlock {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    box-shadow: 0 0 5px 1px black;
    border-radius: 50%;
    background-size: contain;
}
.description {
    margin-left: 10px;
    width: 35%;
}

.description>div {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
