html, body, #root {
    margin: 10px 10px 10px 5px;
}
.wrapper {
    width: 1300px;
    margin: 0 auto;
}
.App {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header_area header_area"
    "navbar_area profile_area"
    ". profile_area";
    margin: 0 auto;
    grid-gap: 20px;
}

Header {
    grid-area: header_area;
}

NavBar {
    grid-area: navbar_area;
}

Profile {
    grid-area: profile_area;
}